@import "primer-css/index.scss"

h2,
h3
  @extend .text-center

.period
  border: 1pt solid black

.time
  //display: block
  text-align: left

.room
  //display: block
  float: right
  text-align: right

.top
  //display: block
