@import "primer-css/index.scss"

body
  background-color: #070722
  color: #eeeeee
  font-family: "Roboto Slab", serif

h1,
h2,
h3
  font-weight: 400

div
  //border: 1px solid red

.top
  padding-top: 30px

.big-time
  font-size: 120px

.today-is
  font-size: 60px

.per-nums
  h2
    font-size: 60px

  .now
    font-size: 120px
    line-height: 1
    font-weight: 700

.letter
  font-size: 240px
  font-weight: 700
  line-height: 1

.letter-before,
.letter-after,
.music-color,
.time-exp
  font-size: 60px
  vertical-align: middle

.letter-before
  text-align: right

.letter-after
  text-align: left

.letter-after,
.letter-before
  line-height: 4

.blue
  color: #8888ee

.red
  color: #ee8888

.ann-title,
.ann-text
  font-size: 30px
  text-align: left

.ann-title
  font-weight: 700
